@import "tailwindcss";

:root {
  --bg-primary: #e9e2b8;
  --bg-secondary: #d7d0a6;
  --txt-primary: #002f49;
  --txt-secondary: #758981;
  --txt-tertiary: #fff8d0;
  --red-color: #a42527;
  --orange-color: #f67f00;
}
* {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  font-family: "Outfit Variable", sans-serif;
}
